$redcolor: red;
$whitecolor: white;
$blackcolor: black;
$text-color-1: orange;
$bluecolor: blue;

[data-theme="dark"] {
  background-color: rgb(71, 70, 70);
  color: rgb(171, 169, 169);
  .contact-component {
    &:hover {
      box-shadow: -1px 1px 3px rgb(243, 242, 242);
    }
  }
  .glob-visions {
    .glob-vision-left {
      .element-glob-vision-left {
        #para-vision {
          color: white;
        }
      }
    }
  }
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(241, 241, 241);

  font-family: "Alegreya Sans", sans-serif;
  // font-family: "Lato", sans-serif;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
@import "./settings.scss";
@import "../styles/accueil/body";
@import "../styles/accueil/navbar";
@import "../styles/accueil/contact";
@import "../styles/accueil/footer";
@import "../styles/cont/cont";
@import "../styles/accueil/app"; // @import "../styles/art/art";
