body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(241, 241, 241);

  font-family: "Alegreya Sans", sans-serif;
  // font-family: "Lato", sans-serif;
  font-family: "Onest", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
@import "./settings.scss";
@import "../styles/accueil/body";
@import "../styles/accueil/navbar";
@import "../styles/accueil/contact";
@import "../styles/accueil/footer";
@import "../styles/cont/cont";
// @import "../styles/art/art";
