.footer {
  width: 100%;
  height: 430px;
  background-color: $text-color-2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;

  .footer-dessus {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .title-glob {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 3px;
      #icon-title {
        width: 65px;
        height: 65px;
        padding: 10px;
        border-radius: 100px;
        object-fit: cover;
      }
      #title-footer {
        font-size: 16px;
        font-weight: 900;
        color: $text-color-3;
        letter-spacing: 1.3px;
        color: $text-color-1;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    .menu-glob {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: row;
      gap: 50px;
      .cards-footer {
        width: 35%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        .div-propos {
          width: 200px;
        }
        #title-card-footer {
          font-size: 17px;
          font-weight: 600;
          margin-bottom: 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
        #para-card-footer {
          font-size: 15px;
          font-weight: 600;
        }
        .reseaux-footer {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 2px;
          #image-reseau {
            width: 45px;
            height: 45px;
            padding: 5px;
            cursor: pointer;
            border-radius: 100px;
          }
        }
      }
    }
  }
  .copyright {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 30px;
    #copy {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    #media {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      color: orange;
    }
  }
}

@media screen and (min-width: 0px) {
  .footer {
    height: 700px;
    padding-top: 0px;
    margin-bottom: 0px;
    justify-content: start;
    align-items: start;
    .footer-dessus {
      width: 100%;
      gap: 5px;
      align-items: start;
      justify-content: start;
      .menu-glob {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 5px;
        padding-left: 8px;
        .cards-footer {
          width: 50%;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;
          .div-propos {
            width: 150px;
          }
          #title-card-footer {
            font-size: 15px;
            font-weight: 600;
          }
          #para-card-footer {
            font-size: 13px;
            font-weight: 500;
          }
          .reseaux-footer {
            gap: 1px;
            #image-reseau {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
    .copyright {
      width: 100%;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1px solid white;
      padding-top: 10px;
      margin-top: 30px;
      #copy {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      #media {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: orange;
      }
    }
  }
}
@media screen and (min-width: 810px) {
  .footer {
    height: 780px;
    padding-top: 10px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    .footer-dessus {
      width: 100%;
      gap: 5px;
      align-items: center;
      justify-content: center;
      .menu-glob {
        width: 70%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 5px;
        padding-left: 8px;
        .cards-footer {
          width: 50%;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;
          //   .div-propos {
          //     width: 100px;
          //   }
          #title-card-footer {
            font-size: 17px;
            font-weight: 600;
          }
          #para-card-footer {
            font-size: 16px;
            font-weight: 500;
          }
          .reseaux-footer {
            gap: 1px;
            #image-reseau {
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
    .copyright {
      width: 70%;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1px solid white;
      padding-top: 10px;
      margin-top: 30px;
      #copy {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      #media {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        color: orange;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    width: 100%;
    height: 460px;
    background-color: $text-color-2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    .footer-dessus {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .title-glob {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 3px;
        #icon-title {
          width: 65px;
          height: 65px;
          padding: 10px;
          border-radius: 100px;
          object-fit: cover;
        }
        #title-footer {
          font-size: 16px;
          font-weight: 900;
          color: $text-color-3;
          letter-spacing: 1.3px;
          color: $text-color-1;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      }
      .menu-glob {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        gap: 50px;
        .cards-footer {
          width: 35%;
          display: flex;
          align-items: start;
          justify-content: start;
          flex-direction: column;

          #title-card-footer {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 20px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          }
          #para-card-footer {
            font-size: 15px;
            font-weight: 600;
          }
          .reseaux-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 2px;
            #image-reseau {
              width: 45px;
              height: 45px;
              padding: 5px;
              cursor: pointer;
              border-radius: 100px;
            }
          }
        }
      }
    }
    .copyright {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      border-top: 1px solid white;
      padding-top: 10px;
      margin-top: 30px;
      #copy {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
      }
      #media {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        color: orange;
      }
    }
  }
}
